@media only screen and (max-width: 600px) {
  .home {
    background-image: url(../img/backgrounds/material-bg-mobile.jpg);
    background-size: cover;
    background-position: center top;
  }
}


@media only screen and (max-width: 600px) {
  .home .headline {
    padding: 30px 0;
  }
  .home .btn-floating {
    display: none;
  }
}
